#ddl {
    width: 250px;
    border: 1px solid black;
    overflow: hidden;
}

#ddl > * {
    width: 250px;
    margin: 0;
}

#ddl > button {
    display: none;
    padding: 5px 0 5px 0;
    background-color: white;
    border: none;
    cursor: pointer;
}

#ddl > button:hover {
    background-color: #f0f0f0;
}

#ddl > button:active {
    background-color: #e0e0e0;
}

#command {
    width: 25%;
    min-width: 200px;
}

.Warning256 {
    display: none;
}

#components > span > h3 {
    display: inline;
}

#components > span > h3 > a {
    text-decoration: none;
    color: black;
}

#components > span {
    display: block;
}